.container-class-details{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.column-center-detailed {
    flex-grow: 1;
    width: 50%;
    margin: 0;
    padding-block-start: 3%;
}

.column-right-detailed{
    display: flex;
    padding-block-start: 3%;
    flex: 0 0 auto;
    width: 25%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
} 

.ant-table-content{
    width: 80%;
}

.ant-table-selection-column{
    width: 3%;
}

.homework-button,
.disciplinary-button{
    display: flex;
    justify-content: center;
    padding-inline: 100px;
    background-color: rgba(15, 191, 15, 0.768)!important;
    color: white;
    transition-duration: 0.4s;
    width: 20%;
}

.disciplinary-button{
    background-color: tomato!important;
}

.homework-button:hover{
    background-color: rgba(8, 152, 8, 0.768)!important;
    color: white!important;
}

.disciplinary-button:hover{
    background-color: rgb(217, 56, 56)!important;
    color: white!important;
}

.disciplinary-section{
    display: flex;
    margin-inline-start: 3%;
    margin-block-start: 5%;
}

.info-disciplinary{
    display: inline;
}

@media screen and (max-width: 768px) {

    .homework-button,
    .disciplinary-button{
        margin-inline-end: 50px;
        width: 60%;
    }

}
