.container-class-details{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.column-center-detailed {
    flex-grow: 0;
    width: 60%;
    margin: 0;
    padding-block-start: 3%;
}

.column-right-detailed{
    display: flex;
    padding-block-start: 3%;
    flex: 0 0 auto;
    width: 40%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
} 

.homework-section-detailed {
    width: 100%!important;
}

.disciplinary-section-detailed {
    width: 100%!important;
}

.ant-table-content{
    width: 80%;
}

.ant-table-selection-column{
    width: 3%;
}

.homework-button,
.disciplinary-button{
    display: flex;
    justify-content: center;
    padding-inline: 100px;
    background-color: rgba(15, 191, 15, 0.768)!important;
    color: white;
    transition-duration: 0.4s;
    width: 20%;
}

.disciplinary-button{
    background-color: tomato!important;
}

.homework-button:hover{
    background-color: rgba(8, 152, 8, 0.768)!important;
    color: white!important;
}

.disciplinary-button:hover{
    background-color: rgb(217, 56, 56)!important;
    color: white!important;
}

.disciplinary-section{
    display: flex;
    margin-block-start: 5%;
    align-items: center;
    gap: 10px;
}

.ant-card{
    aspect-ratio: 1/0.5!important;
}

.info-disciplinary{
    display: inline;
}

.btn-disciplinary-section{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.ant-btn-icon{
    margin: 0!important;
}

.homework-btn-section{
    display: flex;
    gap: 5px;
}
.ant-modal-body{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ant-modal-footer{
    display: flex;
    margin-block-start: 35px!important;
}

.add-section{
    margin-block: 10px!important;
}

@media screen and (max-width: 768px) {

    .homework-button,
    .disciplinary-button{
        margin-inline-end: 50px;
        width: 60%;
    }

}
