.myNav{
    display: flex;
    justify-content: center;
    box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
}


.logo-img {
    display: flex;
    justify-content: center;
    padding: 1%;
}

img{
    width: 25%;
}

.logged-nav{
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    myNav {
        height: 35px;
    }

    .welcome-msg{
        display: none;
    }
}

/* 
.container{
    display: flex;
    width: 100%;
}

.column-center {
    flex-grow: 1;
    width: 80%;
    margin-inline: 3%;
    align-items: center;
}

.column-left,
.column-right{
    flex: 0 0 auto;
    max-width: 25%;
} */
