.create-class-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.button-create-class{
    width: 15%;
}

.column-center-main-create-class{
    width: 80%;
}

.try{
    display: flex;
    justify-content: center;
}
