body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container-userInfo {
    flex-direction: column;
    margin-block-start: 5%;
    min-height: 100vh;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: 5%;
    margin-block-end: 5%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-details {
    flex: 1;
}

.info-item {
    margin-bottom: 5%;
}

label {
    font-weight: bold;
}

span {
    display: inline-block;
    margin-left: 5%;
}

.button-pswd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.button-pswd button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 12px;
    background-color: rgb(233, 126, 22);
}

.button-pswd button:hover {
    background-color: rgb(255, 136, 0)!important;
}

.user-propic{
    width: 25%;
    height: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.selected-propic{
    border: solid 1px green;
}

#modal-launch{
    width: 7%!important;
    position: absolute;
    
}

label[for = "email"] #email{
    margin-inline-end: 3.5%!important;
}

.propic-button {
    border: none;
    overflow: hidden;
    border-radius: 12px 12px 12px 12px;
    background-color: rgb(233, 126, 22);
    position: relative;
    bottom: 30px;
    left: 200px;
}

.change-psw-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-password{
    width: 10%;
    margin-block-start: 3%;
    background-color: rgb(233, 126, 22);
}

.button-password:hover,
.propic-button:hover {
    background-color: rgb(255, 136, 0)!important;
}

.input-change-psw {
    width: 30%!important;
}