.container{
    display: flex;
    width: 100%;
    gap: 5%;
    margin-block-start: 3%;
    min-height: 100vh;
}

.column-center-main {
    flex-grow: 1;
    width: 80%;
}

.column-left-main,
.column-right-main{
    flex: 0 0 auto;
    max-width: 25%;
}

.column-left-main-title{
    display: flex;
    justify-content: center;
}

.column-right-main{
    margin-block-start: 2%;
    height: fit-content;
}

.sub-icon {
    margin-inline-end: 10px;
}

@media screen and (max-width: 768px) {

    .column-center-main{
        margin-inline-start: 40px!important;
    }

    .column-right-main {
        display: none!important;
    }

}